html,
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: lightgray;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.logo {
    width: 60px;
}

.menu li {
    display: inline;
    margin: 0 8px;
}

.menu ul{
    padding: 0;
}

@media(max-width: 375px) {
    .header {
        flex-direction: column;
    }
}